@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;400;500;700&display=swap');

body {
	font-size: 18px;
	font-family: 'Public Sans', sans-serif;
}
h1 {
	font-weight: 700;
	font-size: 2.5em;
}
p {
	color: #4c4845;
	font-weight: 200;
	line-height: 2em;
}
h4 {
	font-weight: 700;
}
h6 {
	color: white;
	font-weight: 200;
}

@media only screen and (max-width: 576px) {
  h1 {
    font-size: 2em;
  }
}




/*navbar*/
.navbar {
	padding-left: 3em;
	padding-right: 3em;
}
.navbar-brand img {
	width: 100px;
}
.nav-link {
	font-size: 1.05em;
	font-weight: 200;
	padding-right: 2.25em !important;
}
.nav-link:hover {
	color: #B72018 !important;
}
.nav-link.contact {
	font-weight: 700;
}
.nav-link.contact:hover {
	opacity: 0.6;
}


@media only screen and (max-width: 992px) {
  .navbar {
  	padding-left: 0;
  	padding-right: 0;
  }
}



.banner {
	background-image: url('images/box.jpg');
	background-position: center center;
	/*background-attachment: fixed;*/
	background-size: cover;
	background-repeat: no-repeat;
	height: 90vh;
}
.banner h1 {
	color:  white;
	font-weight: 700;
}
.banner i {
	font-size: 4em;
}

.section {
	padding-top: 7em;
	padding-bottom: 7em;
}

.hr-title {
	border-top: 2px solid white;
	opacity: 1;
}
.section-title {
	margin-bottom: 0;
	padding-top: 7px;
}

.mission i {
	font-size: 4em;
}

.banner2 {
	background-image: url(images/motorcycle1.jpg);
	height: 80vh;
	background-size: cover;
	background-position: top;
}
.banner2 .layer {
	background-color: rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 100%;
}


.what-we-offer {
	padding-bottom: 13em;
}
.what-we-offer .hr-title {
	border-top: 2px solid #4c4845;
}
.offers img {
	width: 75%;
}

.contact-us {
	padding-bottom: 7em;
	padding-top: 7em;
}
@media only screen and (max-width: 576px) {
  .contact-us {
    padding-top: 2.5em;
  }
}

.contact-us .hr-title {
	border-top-color: #4c4845;
}
.contact-us .email {
	background-color: #f0f0f0;
}
.group {
	width: 100%;
	height: auto;
	/*margin-top: 10em;*/
}

@media only screen and (min-width: 768px) {
	.border-seperator {
		border-left: 1px solid #1072B0;
	}
}



/*bootstrap*/
.bg-primary {
	background-color: #4c4845 !important;
}
.bg-secondary {
	background-color: #ddd !important;
}
.text-primary {
	color: #1072B0 !important;
}
.text-secondary {
	color: #4c4845 !important;
}
.text-accent {
	color: #b72018 !important;
}
.btn-primary {
	background-color:  #1072B0 !important;
	border: 2px solid #1072B0 !important;
	transition: 0.5s;
}
.btn-primary:hover {
	background-color: white !important;
	color: #1072B0;
	border: 2px solid #1072B0;
	transition: 0.5s;
}
